@charset "utf-8";
/* CSS Document */

@import url('$shared/resources/css/fonts.css');
@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');
@import url('dropdowns.css');


/* ---------------------------------------- LAYOUT ---------------------------------------- */

body { color: #222; background: url(../images/body.gif) repeat 50% 100%; }

#grey-top { background: #F3F3F3 url(../images/horizontal.gif) repeat-x 50% 0; height: 100%; }
.grey-bot { background: url(../images/body-base.gif) repeat-x 50% 100%; padding-bottom: 2em; }

#container { margin: 0 auto 30px auto; }

#header { background: #EEF0EB url(../images/header.gif) top right no-repeat; height: 120px; width: 100%; }

#header a#logo { background: url(../images/existdb.png) center left no-repeat; display: block; width: 220px; height: 100px; text-indent: -999em; outline: 0; margin: 10px 0; }

#navigation {
    height: 70px;
    color: white;
}

#navigation .btn-group { 
    float: left;
    margin: 8px 0 8px 20px;
    vertical-align: middle;
}

#navigation h2 {
    float: left;
    margin: auto 0;
    font: 2.5em/1em "QuicksandBook", "Arial", Helvetica, sans-serif;
    font-weight: bold;
    color: #FFF;
}

#navigation h2 a {
    color: #FFF;
}

#navigation .actions {
    float: right;
    margin: 8px 0 8px 0;
}


/* ---------------------------------------- INDEX ---------------------------------------- */

#intro { width: 670px; height: 160px; float: left; }
#intro a { width: 670px; height: 160px;  display: block; text-indent: -999em; overflow: hidden; background: url(../images/intro.gif) no-repeat; }
#intro a:hover { background-position: 0 -160px; }

.box {
    margin: 0 0 20px 0;
    padding : 10px 20px;
    background: #3B3B3C;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    line-height: 1.2em;
    color: white;
}

.box.bluebox {
    background: #0083CB;
}
#right .bluebox a {
    color: white;
};

#right .box .active { color: white; }

#bluebox { float: right; width: 240px; height: 150px; overflow:hidden; background: url(../images/bluebox.gif) no-repeat; padding: 10px 0 0; } 

#main #bluebox p { line-height: 15px; }
#main #bluebox p a { color: #FFF; }
#main #bluebox p a:hover { color: #ffcb05; }

#bluebox p.download a { background: #222; color: #EEE; padding: 5px 8px; -moz-border-radius: 10px; -webkit-border-radius: 10px; font-size: 12px }
#bluebox p.download a:hover { background: #000; }

.blog-post { padding: 0 0 20px; float: left; clear: left; }
.blog-post-text { width: 540px; float: left;}
.blog-meta { width: 140px; float: left; }
.blog-comments { border-bottom: 1px solid #CCC; padding: 0 0 14px; margin: -28px 0 0; float: left; width: 700px;}
.blog-comments a { background: url(../images/comments.gif) no-repeat 0 50%; padding: 5px 0 5px 30px; }

.older { float: left; padding: 0 0 12px; margin: -10px 0 9px; width: 700px; }
.older a { background: #444; color: #EEE; float: right; padding: 1px 8px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.older a:hover { background: #ffcb05; color: #FFF; }

/* ---------------------------------------- INDEX ---------------------------------------- */


#content { font: 16px/24px Georgia, serif; min-height: 600px; padding: 0 10px; }

#right { width: 240px; float: right;  }
#r-top { width: 240px; float: right; background: url(../images/grey-box-top.gif) no-repeat;  }
#r-bot { width: 240px; float: right; background: url(../images/grey-box-bot.gif) no-repeat 0 100%; min-height: 300px; 
    padding: 0 10px; }

#right h2, #bluebox h2 { text-align: center; color: #FFF; font-size: 12px; padding: 20px 0 0; }
#right p, #bluebox p { text-align: center; color: #FFF; font-size: .9em; padding: 20px 0 5px; }
#right p { padding: 0px 0 20px; margin: 0; }
#right ol li { color: #777; }
#right a, #bluebox p a { color: #0099FF; }
#right a:hover, #bluebox p a:hover { color: #ffcb05; }

#main ul#twitter { float: left; margin: 10px 20px 20px; padding: 0; color: #FFF; width: 200px; }
#main ul#twitter li { list-style-type: none; background: url(../images/twitter-right.gif) no-repeat 50% 100%; padding: 4px 5px 18px; width: 190px; float: left; line-height: 15px; margin: 1px auto; }
#main ul#twitter li.alt { background: url(../images/twitter-left.gif) no-repeat 50% 100%; }


#darkblue { width: 240px; float: right; background: url(../images/darkblue-rpt.gif) repeat-y; }
#darkblue-top { width: 240px; float: right; background: url(../images/darkblue-top.gif) no-repeat; }
#darkblue-bot { width: 240px; float: right; background: url(../images/darkblue-bot.gif) no-repeat 0 100%; }

#sourceforge { background: url(../images/sourceforge.gif) no-repeat 50%; width: 130px; height: 30px; display: block; margin: 30px auto; text-indent: -999em; overflow: hidden; }

.full-div-line { border-bottom: 1px solid #c7c7c7; width: 940px; clear: both; height: 10px; margin: 0 auto 10px; }

#footer { clear: both; margin: 0 auto; padding: 1em 1em; height: 50px; color: #222; background: url(../images/body.gif) repeat 50% 100%; }

#footer ul { float: left; width: 640px; margin: 0 0 0 -4px; }
#footer ul li { display: inline; }
#footer ul li a { padding: 2px 4px; color: #ffcb05; }
#footer ul li a:hover { background: #333; }

#copyright { float: right; width: 220px; }
#copyright p { padding: 0; color: #F3F3F3; }


/* ---------------------------------------- TYPE ---------------------------------------- */

#main ul { padding: 0 10px; }

#right ol { padding: 0 0 20px 30px; color: #FFF; }
#right ol li { list-style-type: decimal-leading-zero; padding: 0; margin: 5px 20px; }
#right ol li ol li { list-style-type: lower-alpha; padding: 0 5px; margin: 5px 20px; }

#navigation h2 {
    font: 230% "Quicksand", "Arial", Helvetica, sans-serif;
    margin-top: 6px;
    font-weight: bold;
    color: white;
}

p { padding: 5px 0; }

h1 { font: 38px "QuicksandBook", "Arial", "Helvetica", sans-serif;
    color: #0083CB;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
h2 { font-size: 1.2em; padding: 10px 0; font-weight: bold; font-family: "Century Gothic", Verdana, Helvetica, sans-serif; letter-spacing: 1px; }
h3 { font-size: 1.2em; padding: 10px 0 5px; margin: 0 0 5px; font-weight: bold; border-bottom: 1px dotted; }
h4 { font-size: 1.1em; padding: 10px 0; font-weight: bold; }
h5 { font-size: 1.0em; padding: 10px 0; font-weight: bold; }

a { color: #0083cb; text-decoration: none;  }
a:hover { color: #ffcb05; }

.clear { clear: both; }
.imgborder { border: 1px solid #CCC; padding: 3px; margin: 3px; }

/* ---------------------------------------- SUB PAGE ---------------------------------------- */


#sub-right { float: right; width: 240px; }

#content h1 { font: 175% "Quicksand", "Arial", Helvetica, sans-serif; margin: 10px 0 20px; }
/*#content h2 { color: #0083cb; padding: 10px 0 5px; }*/
#content div.div div.head { color: #0083cb; padding: 10px 0 5px; font-size: 1.2em; padding: 10px 0; font-weight: bold; font-family: "Century Gothic", Verdana, Helvetica, sans-serif; letter-spacing: 1px;}

blockquote { padding: 10px 15px 0 15px; border: 1px solid #abe1ff; background: #FFF; margin: 5px 0 10px; }
blockquote h3 { padding: 0; border: 0; margin: 0; font-size: 12px; color: #0083cb }
blockquote p { padding: 0 0 10px; }

.code { font: 13px/20px bold "Courier New", Courier, monospace; }

/* ---------------------------------------- Local styles ----------------------------------- */

.play span {color: red;}

#quicksearch {
    margin: 10px 0;
}

.inputrow {
    margin-top: 8px;
}

.inputrow label {
    width: 120px;
    display: block;
    float: left;
}

.error {
    font-family: "Ubuntu Mono", "Consolas", monospace;
    font-size: 112%;
    white-space: pre-wrap;
    width: 100%;
    overflow: auto;
}

.item { 
    background: #FFFFFF;
    margin: 8px 0;
    padding: 8px 8px; 
    border: 2px solid #FFAD00;
    border-radius: 15px;
    moz-border-radius: 15px;
}

ol {
    margin-left: 0;
}

ol li {
    list-style-type: decimal;
}

dl {
    margin: 10px 20px;
}

dl dd {
    margin: 4px 20px;
}

.itemhead { background: #E0E0E0; padding-left: 8px; }

input:required:invalid, fieldset input:focus:invalid { 
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAAwBQTFRFvy8atzQfvzEWvDEXuzEZujIbuzEdvzAZvTAbvjAcvDAdvTIdrzcnszQisTQltTIitzQgtjUhsTssuDEguTIgujQgvD0nqkAutkM2tko5u0c4ul5Qwi8Zwy8awC8bxS4ZxiwcwTEZwDEawTAbwDAcwDEdwzIexjAaxTIZyDAbyjAcyTMdzzEazjEbzzAe0TIb0zMd0zQb1DIc1TQb1TQc1jYc1jYd1zgc2jQb2DUd2TQe2zYc3DUc3jgbxzYh1j4m4DYZ5jcZ5zYb5jYc5Dga5Dgd6TYf7Dcd7zce6zgZ6Dga7Dse7j0e8jcd8zYe8DYf8Tkb8zgd8joc8Toe8Dwf9jkb9Doc4zki5j4n6T0h7jghxkIsx0MuzUUt00Ep2kIt1kg13VE97EEm6Ugu4E064FQ98UIn8kMo80Mp90Ep9UMq3VpD3F1KxmdZw2haw2hbxGhaxGhbwW1hwHdpxndp2H1u4FlH4mVT63Jb9mZO92ZP9WhN+GVN+2RQ4HVlvIB13odx4oNv5IZy54h29o55+4p6+4t7+Y14/Yl6yI+Ew5aPxpuTxqCXyaWe3baq5JSI65CB7pKC9JKK66WX6rGb57ut6rOo7res5b6767yz+62i+q6j/qug/a2i87Cl9rGh9rOq8b+19L+z+L2x48G48MO68sa/8ci96tDK8sbB/crE/crF/srG+87K/svJ/M3I99bR99fS+9bV+93Z8ebe+OHd+eXd/OTd8ebh9e3m9u3r+ufl/eXj/ubg/ufh/efi/ufj/uXk+ujj++nl+uvl+urm/ejh++7q+u/r+vDu+vLt/PDv/fPv/vTy+/j3/Pj0//j2//n3/vv0/vr1/vv2/fr3+/39+/79/vr4/vv6/v37/f77/v38/v39/f78/f79AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOe7jtQAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuODc7gF0AAAEbSURBVChTARAB7/4A1rmNdG5xb3BwcG5tc4y43QC6isjT0NDR1djY1NLTzIu4AImVvL/Gxsa+vr7BwL29qX8AGp6rqrPDsqyurbu8r6ujFwALg5ybotjLoJqw37GfnZEOAAlsiIaEp9qmk8/FkoWHdw8AIj98eX14tc601ZB7eXpfEQAjNGJoaWd+z9uWY2pmZjYQACEzQlJUVWvK149MVlNKORUAIzFDSFBYodnJx3ZRTkEzAQAkLUBHS4HYmXXVpVhPPS8NAAInNUVkwsRlWZfVgEQ6KA8AFh0uN5TNgk1aYba3YCwHDAByAyArW11XRklGXlw+HwAbAKgSBRwpMDo8OzgyKh4EFaQA3pgZEwYIJCYmJQgKFBiO3JMVcr8Z+l4TAAAAAElFTkSuQmCC'); 
    background-position:right; 
    background-repeat:no-repeat; 
    -moz-box-shadow:none;
} 

input:required:valid { 
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAAwBQTFRFU6E8UqA9U6A+U6A/VaA+VqA/V6I+WKM7WKA/WaI8WqI9WaQ+XaQ6XKQ8Zac9Z6w2Y6k6Z6w6aKo8bK45bq46d7M5fbU6fLY6frY8f7k5U59AU59BVJ9AU6BAUaBBVaBAVKFBVKBCX6JNXqZOYalRZqhSa6pfbapcb6pdbKpfcalbc6pbdKpccqdieKxofK9vf69xgLc5gLY9hrw3gLg4gLg5g7o4g7o5hLs4hLo5hLo6hbs8iL46jb1Ti7d+kMM0k8UwksU0lsQ2nskwnsgynsgzpswvqc8voMc8oMkyocozo8wzpMowpcs7rM8wrtEwrtA1ss8+sNIvtNMtttUuttYtt9Yvu9cuutgrvdkqvdksvNgtvdkvv9svsNM1ttI2utY0vdkxvtowvtsyv9ozvtg1vdwzv9k4vtg6lMRTrs5HtNNMps53rNN+wdhJwtlNw9hWyNxVx9tszd9iyuJPxeBRxuJQyuFTyuJQyuNRyuBW0eNz1OR91eR/1ut31+p41+p62Ot22Op42Op6lb6InsKRnsSUocKVrseir82mr82nrc6kr82oscWltMeusMiisM2msMyoss6r2+mNw+KgyueiyeSy1eq34/Gd4/Ce4/Cf4vKe4+2l5e6j4Oys5u+44/Cg5fCr5vGt6PC16fO26vO87ve/7fi87vi97vi/0uHO2+jW2unX6/TD7vfA7/jH8PbB8vbH8PbK9/rT9vrY9vrc9/vd+/3c+P7c+f7d+P7e6PDk6fTm6/Xo7/fr9ffh+vvl+P3g+f3h+fzi/f7m+/zq/f7s8vrx+f3x+v7w/f7x/v7y/v/z/v/0/v73/v75/v38/f7+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnz0KZQAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuODc7gF0AAAEbSURBVChTARAB7/4A0aqNkImJioyMjImLkY6r0QCsj8nLzMzMzMzMzczLyIi7AD6Xwbe5urq6urq4wsHAlocAIpWwp6apqa6urqiyw6+ULgAhbZibmpqZmqCgorakmWwmAARpf4B/f4OBg5O0oYJ+PScACjt2eXR4eHhzsaN6d3UyKgALOF5mYl1jZ5yzb2JkUDUsAAs3RmBxZVx7xnxhWVZMMSsABhdKcsSdcLWyaFpYUkQVKAAgFEJrn8q/zn1aW1RHPxEpAB8MNklRns/FbldVT0U0BykAJQISPEVqraVfU05DMw4AMACFGwUPOkBITUtEQRkQHBqSAL0tHQEMFBg5NxYTDQEeL8cA0LyEIx4DCAoJHxwdJIa+0S+PbKi6PdJ5AAAAAElFTkSuQmCC'); 
    background-position:right; 
    background-repeat:no-repeat; 
    -moz-box-shadow:none; 
}

.code { 
    font: 14px/20px "Ubuntu Mono", Menlo, Consolas, "Courier New", Courier, monospace;
    background: #444444 url($shared/resources/images/noise.png);
    padding: 8.5px;
    width: 100%;
    margin: 18px 0 18px;
}

.code a {
    padding: 4px;
    border: 1px solid #C7C7C7;
}

.source .toolbar, .example-output {
    padding-left: 18px;
    border-left: 4px solid #C7C7C7;
}

.output {
    margin: 8px 0;
    max-height: 500px;
}

.output .code {
    max-height: 200px;
    overflow: auto;
    background: #ffffff;
    padding: 0 8px;
}

.nav-link {
    display: block;
    margin: 0 0 20px 0;
}

.toc {
    width: 100%;
}

.toc thead {
    border-bottom: 2px solid #CCC;
}

.toc thead th {
    margin-bottom: 4px;
    padding-bottom: 4px;
    font-weight: normal;
    text-align: left;
}

.bk-nav.top {
    padding: 10px 10px 10px 0;
    border-bottom: 2px solid #CCC;
}

.bk-nav.bottom {
    padding: 10px 10px 10px 0;
    border-top: 2px solid #CCC;
}

.bk-nav h5 {
    text-align: center;
    padding: 0;
    font-weight: normal;
}

.bk-nav .previous {
    float: left;
}

.bk-nav .next {
    float: right;
}

.play {
    margin-top: 1em;
}

.play .body {
    margin-top: 2em;
}

.play-header {
    margin-bottom: 55px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
}

#main .play-header ul {
    padding: 0;
}

.act {
    text-align: center;
    max-width: 400px;
}

.play h1, .play h2, .play-header h2 {
    font-family: sans-serif;
    font-size: 1.8em;
    line-height: 1.5em;
    margin: 2.55em 0 2.55em 0;
    text-align: left;
}

.play h2, .play-header h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 1.8em 0 1.4em;
}

#title h1 {
    text-align: center;
    font-size: 225%;
    font-family: serif;
}

.stage {
    display: block;
    text-align: center;
    font-style: italic;
    margin: .85em 0;
}

.speaker {
    text-align: left;
    font-family: serif;
    font-size: 1em;
    font-weight: normal;
    font-variant: small-caps;
    margin: .85em 0 .55em;
}

.sp p {
    margin-left: 2em;
    line-height: 185%;
    padding: 0;
    text-align: left;
}

ul {
    list-style: none;
    text-align: left;
}

/*.sp .line {
    margin: 0 0 0 2em;
}
*/

div.sp div.l {
    margin: 0 0 0 2em;
}

.resp {
    margin-bottom: .55em;
}

.respRole {
    font-variant: small-caps;
}

.hit .hi {
    padding: 0 8px;
}

.hit div {
    padding: 0 0 10px 20px;
}

.hit table {
    margin: 10px;
}

.hit p {
    padding: 0;
}

.hit .previous {
    text-align: right;
}

.number {
    float: left;
}